<p>JST</p>
<td><%= actor.name %></td>
<td><%= actor.age %></td>
<td><%= actor.rating %></td>
<td class="edit", data-id='<%= venue._id %>' >edit</td>
<td class="delete", data-id='<%= venue._id %>'>delete</td>