		
<h3>Actor Details</h3>
<p>
  <strong>Name:</strong>
  <%= name %>
</p>

<p>
  <strong>Age:</strong>
  <%=age %>
</p>

<p>
  <strong>Rating:</strong>
  <%= rating %>
</p>
<td class="edit", data-id='<%=_id %>' >Edit</td>
<td class="delete", data-id='<%= _id %>'>Delete</td>
