		<tr>
			<td><%= name %></td>
			<td><%= age %></td>
			<td><%= rating %></td>
			<td class="edit", data-id='<%= _id %>' >Edit</td>
			<td class="delete", data-id='<%= _id %>'>Delete</td>
			<td class="show", data-id='<%= _id %>'>Show</td>
		</tr>
